#create {
  margin: 2em;
  background-color: rgb(255, 255, 255, 0.5);
}

#createArmy, #listArmies, #description {
  background-color: #245;
  display: inline-block;
  padding: 2em;
  vertical-align: top;
  border-radius: 5px;
  color: white;
  margin: 2em;
  width: 23%;
}

#armyInput, #descriptionInput {
  min-height: 400px;
  width: 90%
}
#listArmies {
  min-height: 400px;
}


button {
  margin-top: 1em;
}
