.nav-links {
  display: inline;
}

#nav-bar {
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-around;
  min-height: 10vh;
  background: black;
  padding: 1em;
  font-size: 20px;
  padding-top: 2em;
  padding-bottom: 0em;
}

#logout {
  background: none;
  border: none;
  padding: 0;
  color: white;
  cursor: pointer;
  font-size: 20px;

}


#logout button, a {
  color: white;
  text-decoration: none;
}

a:hover, button:hover {
  text-decoration: underline;
}
