#search {
  background-color: #245;
  padding: 2em;
  margin: 2em;
  margin-left: 12em;
  display: inline-block;
  vertical-align: top;
  border-radius: 5px;
  width: 20vw;
  min-height: 30vh;
  color: white;
}
